@tailwind base;
@tailwind components;
@tailwind utilities;

.tui-image-editor-container .tui-image-editor-header-logo {
  display: none;
}

.tui-image-editor-header-buttons {
  display: none;
}

.tui-image-editor-container {
  flex: 1;
}

.tui-colorpicker-palette-button {
  width: 10px;
  height: 10px;
}

.tui-colorpicker-clearfix {
  display: flex;
  flex-wrap: wrap;
}

body > svg {
  /* Required as an svg is added due to react image editor */
  display: none;
}
